################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore files
/WPapp.v12.suo
/Despegar.WP.UI/Despegar.WP.UI.csproj.user

# Ignore directories
/packages/**


/Despegar.Core.Neo/obj/**
/Despegar.LegacyCore/obj/**
/Despegar.Core.Business/obj/**
/Despegar.Core.Connector/obj/**
/Despegar.Core.Connector.Model/obj/**
/Despegar.Core.Exceptions/obj/**
/Despegar.Core.IService/obj/**
/Despegar.Core.Service/obj/**
/Despegar.Core.Log/obj/**
/Despegar.WP.UI/obj/**
/Despegar.WP.UI.Models/obj/**

/Despegar.Core.Neo/bin/**
/Despegar.LegacyCore/bin/**
/Despegar.Core.Business/bin/**
/Despegar.Core.Connector/bin/**
/Despegar.Core.Connector.Model/bin/**
/Despegar.Core.Exceptions/bin/**
/Despegar.Core.IService/bin/**
/Despegar.Core.Service/bin/**
/Despegar.Core.Log/bin/**
/Despegar.WP.UI/bin/**
/Despegar.WP.UI.Models/bin/**
/Despegar.WP.UI/AppPackages/Despegar.WP.UI_1.0.0.0_AnyCPU_Debug_Test
*.USER
*.suo
*.orig
*.appxupload
*.user
/Despegar.WP.UI.PushNotificationHelper/bin/**
/Despegar.WP.UI.PushNotificationHelper/obj/**
Despegar.WP.UI/AppPackages/Despegar.WP.UI_3.1.0.1_Despegar-Release_Test/Despegar.WP.UI_3.1.0.1_ARM_Despegar-Release.appxsym
Despegar.WP.UI/AppPackages/Despegar.WP.UI_3.1.0.1_Despegar-Release_Test/Despegar.WP.UI_3.1.0.1_arm_Despegar-Release.appxbundle
Despegar.WP.UI/BundleArtifacts/arm.txt
Despegar.WP.UI/Package.StoreAssociation.xml
